
body{
  background-color: powderblue;
  margin: 0;
  text-align: center;
}
#mm{
  /* font-family: sans-serif,cursive; */
  /* font-family: 'Big Shoulders Stencil Display', cursive; */
  font-family: 'Sacramento', cursive;
  width: 30%;
  margin: 0 auto 0 auto;
}
.hrlll{
  color:orange;
  height:1px;
}
#divl{
  font-size: 15px;
  color:red;
}
#ccid{
  color:red;
}
#hkid{
  color:red;
}
#hrll{
  color:orange;
}
#skid{
  color:purple;
}
#scid{
  color:lime;
}
p{
  /* font-family: 'Big Shoulders Stencil Display', sans-serif; */
  font-family: fantasy;
}
.cloud2{
  position: absolute;
}
.cloud1{
  position: relative;
  margin-left: 350px;
}
.prof-pic{
  border-radius: 70%;
}
